body {
  background-color: rgb(176, 176, 176);
  color: rgb(61, 89, 114);
  font-family: 'Onset', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

button {
  cursor: pointer;
  background-color: rgb(5, 29, 89);
  color: white;
  border: 0px;
}

p {
  color: rgb(113, 197, 156);
  font-weight: 400;
}

.document-page {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border: solid black 2px;
  border-radius: 18px;
  min-height: 85dvh;
  width: clamp(600px, 65dvw, 800px);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(7, auto);
  column-gap: 50px;
  padding: 0 3rem;
  text-wrap: nowrap;
  margin-top: calc((100dvh - 85dvh)*0.5);
}

.document-close {
  position: absolute;
  margin-left: -1.5rem;
  margin-top: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 5px;
}

.document-title, .document-confirmation {
  grid-column: -1/1;
}

.document-title {
  margin-top: 3.25rem;
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.document-title::before {
  content: '';
  width: 165px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  transform: translateY(25px);
}

.import-selection {
  align-self: flex-start;
  font-weight: 600;
}

.document-file-import::before {
  content: '';
  width: 250px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  transform: translateY(-10px);
}

.testing-centers {
  margin-top: 15px;
  grid-row: span 3;
  display: flex;
  flex-direction: column;
}

.testing-centers::before {
  content: '';
  width: 250px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  transform: translateY(-10px);
}

.testing {
  margin-top: 20px;
}

.testing-centers select {
  margin-left: 25px;
}

.document-file-import {
  grid-row: span 2;
  min-height: 240px;
}

.tolerance-window {
  grid-column: -1/1;
}

.tolerance-window::before {
  content: '';
  width: 250px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  transform: translateY(-10px);
}

.tolerance-window > div {
  display: flex;
  align-items: center;
}

.toggle-text {
  margin: 2px 8px 0px 8px;
  padding-right: 8px;
  border-right: solid black 1px;
  min-width: 72px;
}

.tolerance-window > div {
  font-weight: 400;
}

.document-file-import input::file-selector-button {
  visibility: hidden;
  font-size: 0px;
}

label input {
  vertical-align: -3px;
}

label {
  font-weight: 400;
  font-size: 10px;
}

input[type='radio'] {
  cursor: pointer;
  width: 15px;
  height: 15px;
  accent-color: rgb(5, 29, 89);
}

.document-confirmation {
  font-size: 14px;
  justify-self: center;
  text-align: center;
  margin-top: 25px;
}

.cancel-btn, .continue-btn {
  margin-top: 15px;
  margin-bottom: 35px;
  width: 160px;
  height: 28px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 11px;
}

.continue-btn {
  margin-right: 30px;
}

.cancel-btn {
  color: rgb(215, 170, 112);
  background-color: white;
  border: 2.3px solid rgb(215, 170, 112);
}

select {
  color: rgb(5, 29, 89);
  height: 25px;
  border-radius: 5px;
}

.testing-selection {
  width: 110px;
  text-align: center;
  font-size: 10px;
}

.testing-centers > div {
  font-size: 10px;
  font-weight: 400;
}

.drag-container {
  border: 1px solid black;
  margin-top: 15px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.drag-n-drop {
  border: dashed;
  cursor: pointer;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.drag-n-drop > p {
  color: rgb(5, 29, 89);
  font-weight: 400;
  text-align: center;

}

p > span {
  font-weight: 600;
}

.drag-container > button {
  width: 120px;
  align-self: center;
  font-size: 11px;
  padding: 5px;
  border-radius: 4px;
  margin-top: 12px;
}

.elapse-data > p {
  margin: 0;
}

.elapse-data::before {
  content: '';
  width: 250px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  transform: translateY(-10px);
}

.schedule-container {
  align-self: flex-end;
  margin-bottom: 10px;
}

.location-checking {
  align-self: center;
  margin-top: 20px;
}

.location-checking::before {
  content: '';
  width: 250px;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  transform: translateY(-15px);
}

.location-checking > p {
  margin-top: 5px;
}

#icon-file {
  color: rgb(252, 157, 34);
  font-size: 25px;
  margin-top: 9px;
  margin-left: calc(50% - 12.5px);
}

#clock-icon {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.file-name {
  font-size: 10px;
  opacity: 0.75;
  margin-top: 17px;
  justify-self: center;
}

.file-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
  height: 70px;
}

.file-size {
  margin-top: 18px;
  font-size: 10px;
  justify-self: flex-end;
}


.file-upload {
  background-color: rgb(252, 157, 34);
  width: 91%;
  height: 2px;
  grid-column: -1/1;
  margin-left: 9%;
  margin-top: -20px;
}

.image-icon {
  color: rgb(252, 157, 34);
  font-size: 20px;
  margin-top: 15px;
}

.divider {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: black;
  transform: translateY(-25px);
}

#opacity-zero {
  opacity: 0;
}